nav#breadcrumbs {
    display: flex;
    flex-direction: row;
    padding: 20px 16px;
    background-color: rgba(255, 255, 255, 0.5);
    height: fit-content;
    border-radius: 8px;
}

nav#breadcrumbs h3 {
    font-size: 1.5rem;
    margin-right: 10px;
}

nav#breadcrumbs details summary:hover {
    cursor: pointer;
}

nav#breadcrumbs details summary {
    font-size: 1.5rem;
}

nav#breadcrumbs details ul {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 5px;
    z-index: 2;
}

nav#breadcrumbs details ul li {
    margin-bottom: 10px;
}

nav#breadcrumbs details ul li:last-child {
    margin-bottom: 0;
}

nav#breadcrumbs details ul li a {
    color: black;
    text-decoration: none;
}
