
.completionForm{
    display: grid;
    grid-template-areas: "side_bar inputs";
    grid-template-columns: 30% 70%;
    width: 100vw; height: 100vh;
}

/* Inputs form */
.main_content, .continue_btn, .have_an_account,
.avatar_upload, .additionally_icon, .main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content{
    flex-direction: column;
}

/* Sign Up */
.sign_up_form, .sign_up_form_detail{
    font-family: var(--main-font);
    width: 350px;
    margin-top: -10%;
}
.sign_up_form_detail{
    width: 430px;
}
.form_title{
    font-size: 30px;
    font-weight: bold;
}
.main_logo {
    margin-bottom: 7%;
}
.main_logo img{
    width: 48px;
    height: 48px;
}
.form_prompt, .form_title{
    text-align: center;
}
.form_prompt{
   color: #677982;
}
.form input{
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 10px 14px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #96A3A8;
    margin-top: 5px;
    font-family: inherit;
    font-size: inherit;
}
.form input::placeholder{
    font-size: 16px;
    color: #677982;
}
.form{
    margin-top: 10px;
}
.form label{
    float: left;
    font-size: 14px;
    margin-top: 10px;
}
.continue_btn {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: var(--main-font);
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
    transition: .3s ease;
}
.continue_btn:active {
    transition: .3s ease;
    filter: opacity(60%);
}
.have_an_account{
    width: 100%;
    float: left;
    margin-top: 10%;
    font-size: 14px;
    color: #677982;
}
.have_an_account a{
    color: var(--light-blue);
    margin-left: 5px;
}
.progress_bar{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 10%;
}
.progress_bar div{
    float: left;
    border-radius: 4px;
    width: 112px;
    margin: 0 5px 0 5px;
    height: 8px;
    background-color: silver;
}
.progress_bar .active_bar{
    background-color: var(--light-blue);
}

/* Personal Details */
.form_block{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 10%;
}
.form_block div label {
    margin-top: 0;
}
.form_block div input {
    padding: 8px 14px;
}
label.avatar_upload input[type="file"]{
    display: none;
}
label.avatar_upload {
    border: 1px solid black;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: #E7EAED;
    cursor: pointer;
}
.avatar_input{
    width: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar_input div{
    color: #38505A;
    font-size: 14px;
}
.default_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.default_avatar .inputAvatarImage{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
}
.calendar_icon{
    margin: 30px 0 0 10px;
    width: 20px;
    height: 22px;
    z-index: 101;
    position: absolute;
    background-image: url("../../assets/icons/calendar-small.svg");
    background-repeat: no-repeat;
    background-size: 20px;
}
.birth_date_block{
    display: flex;
    flex-direction: column;
}
.birth_date_block label{
    margin-bottom: 5px;
}
input.birth_date_input{
    font-size: 16px;
    width: calc(108% - 1px);
    margin: 0;
}

/* Location */
.map_pin_icon{
    content: "";
    background-image: url("../../assets/icons/map-pin.svg");
    width: 20px; height: 22px;
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    margin: 31px 0 0 11px;
}
input.location_input{
    padding-left: 40px;
    width: 100%;
}

/* Phone input */
.selectCountry{
    position: absolute;
    width: 60px;
    padding: 10px 0 10px 0;
    border: 1px solid #96A3A8;
    margin: 5px 0 0 0;
    border-right: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #545657;
    text-align: center;
}
.selectCountry::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
.selectCountry::-webkit-scrollbar-track{
    background-color: #fff;
}
.selectCountry::-webkit-scrollbar-thumb{
    background-color: var(--light-blue);
    border-radius: 8px;
}
.selectCountry option{
    font-size: 14px;
}
.defaultOption{
    content: "";
    background-image: url("../../assets/icons/international-phone.svg");
    background-size: 23px;
    background-repeat: no-repeat;
    width: 23px; height: 23px;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    margin: 16px 0 0 11px;
}
option{
    cursor: pointer;
}
.disabledOption{
    pointer-events: none;
}
input.phone_input{
    padding-left: 65px;
    width: 100%;
}

.terms_conditions_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100%;
}
input.condition_checkbox{
    width: 20px;
    border-radius: 6px;
    cursor: pointer;
}
label.terms_conditions{
    float: right;
    color: #677982;
    margin: 5px 0 0 10px;
}
label.terms_conditions a{
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
}
.pop_up_black_background, .pop_up_block, .modal_image img{
    width: 100%;
    height: 100%;
}
.pop_up_black_background{
    background: black;
    opacity: 35%;
}
.pop_up_block, .pop_up_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop_up_block{
    z-index: 200;
    position: absolute;
    display: flex;
}
.pop_up_container{
    width: 90%;
    height: 80%;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    padding: 5%;
    box-sizing: border-box;
}
.modal_status {
    color: var(--light-blue);
    font-size: 16px;
    margin-bottom: 2%;
}
.modal_title {
    font-size: 60px;
    color: #12B76A;
    margin-bottom: 4%;
}
.modal_description {
    color: #677982;
    font-size: 18px;
    width: 100%;
    margin-bottom: 6%;
}
.modal_button{
    color: #fff;
    padding: 10px 20px;
    background-color: var(--light-blue);
    border-radius: 8px;
}
.modal_button:active{
    transition: .3s ease;
    filter: brightness(120%) saturate(80%);
}
.modal_image{
    margin-left: 2%;
}

/* Resize for different displays */
@media screen and (max-width: 1200px) {
    /* inputs form */
    .form_title{
        font-size: 26px;
        font-weight: normal;
    }
    .form input{
        height: 35px;
        padding: 8px 12px;
        border-radius: 7px;
    }
    .form input::placeholder{
        font-size: 14px;
    }
    .calendar_icon{
        margin: 27px 0 0 10px;
        width: 18px; height: 20px;
        background-size: 18px;
    }
    .map_pin_icon{
        width: 23px;
        height: 23px;
        margin: 26px 0 0 7px;
    }
    input.condition_checkbox{
        width: 18px;
        border-radius: 6px;
    }
    input.birth_date_input{
        width: 118%;
        font-size: 14px;
    }

    /* Phone input */
    .selectCountry{
        width: 60px;
        padding: 7px 0 7px 0;
        margin: 5px 0 0 0;
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        font-size: 14px;
    }
    .defaultOption{
        background-size: 20px;
        width: 20px; height: 20px;
        margin: 12px 0 0 13px;
    }
    input.phone_input{
        padding-left: 65px;
    }

    /* Location */
    input.location_input{
        padding-left: 35px;
    }
    .map_pin_icon{
        width: 18px; height: 20px;
        background-size: 18px;
        margin: 28px 0 0 11px;
    }
}
@media screen and (max-height: 800px){
    .progress_bar{
        bottom: 5%;
    }
}
@media screen and (max-width: 650px){
    .completionForm{
        grid-template-areas: "inputs";
        grid-template-columns: 100%;
    }
    .form input{
        font-size: 15px;
    }
    .sign_up_form, .sign_up_form_detail{
        width: 330px;
        margin: 15% 0 10% 0;
    }
    .progress_bar{
        margin-left: 0;
        top: 5%;
        z-index: -10;
    }
    .form_block{
        display: flex;
        flex-direction: column;
    }
    .right_inputs{
        width: 100%;
        margin: 0;
    }
    input.birth_date_input{
        width: 127%;
    }
    .avatar_input{
        width: 100%;
        margin-bottom: 20px;
    }
    input.condition_checkbox{
        width: 25px;
        height: 25px;
    }

    /* Location */
    input.location_input{
        padding-left: 30px;
    }
    .map_pin_icon{
        margin: 28px 0 0 8px;
    }
}
@media screen and (max-width: 370px) {
    .sign_up_form, .sign_up_form_detail {
        width: 250px;
    }
    .form_title {
        font-size: 20px;
    }
    .form input{
        height: 30px;
        padding: 6px 8px;
        border-radius: 5px;
        font-size: 14px;
    }
    .form_prompt{
        font-size: 14px;
    }
    .main_logo img{
        width: 38px;
        height: 38px;
    }
    .continue_btn {
        height: 30px;
        font-size: 14px;
        padding: 6px 15px;
        border-radius: 5px;
    }
    .progress_bar{
        margin-left: 0;
    }
    .progress_bar div{
        border-radius: 4px;
        width: 70px;
        margin: 0 5px 0 5px;
        height: 8px;
        background-color: silver;
    }

    /* personal details */
    input.birth_date_input{
        width: 100%;
    }
    .calendar_icon{
        margin: 25px 0 0 10px;
        width: 16px; height: 18px;
        background-size: 16px;
    }

    /* Location */
    input.location_input{
        padding-left: 25px;
    }
    .map_pin_icon{
        width: 16px; height: 18px;
        background-size: 16px;
        margin: 26px 0 0 5px;
    }

    /* Phone input */
    input.phone_input{
        padding-left: 50px;
    }
    .selectCountry{
        width: 45px;
        padding: 5px 0 4px 0;
        margin: 5px 0 0 0;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 14px;
    }
    .selectCountry::-webkit-scrollbar{
        width: 5px;
    }
    .selectCountry option{
        font-size: 12px;
    }
    .defaultOption{
        background-size: 16px;
        width: 16px; height: 16px;
        margin: 12px 0 0 7px;
    }

    .terms_conditions_block{
        width: 100%;
    }
    input.condition_checkbox{
        width: 27px;
        height: 27px;
    }
}

.success_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #F6FEF9;
}
.success_block_image svg{
    width: 110%;
}
.success_title{
    font-size: 60px;
    color: #12B76A;
    margin-bottom: 4%;
    margin-top: 30%;
}
.success_description {
    color: #677982;
    font-size: 18px;
    width: 75%;
    margin-top: 5%;
}
.success_button{
    color: #fff;
    padding: 10px 23%;
    background-color: var(--light-blue);
    border-radius: 8px;
    margin-top: 25%;
}
.success_button:active{
    transition: .3s ease;
    filter: brightness(120%) saturate(80%);
}

.continue_btn:disabled,
.continue_btn[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: auto;
}

.validationText, .dataValidateText{
    margin: 2px 0 0 0;
    width: 100%;
    height: 15px;
    font-size: 14px;
    color: red;
}
.dataValidateText{
    height: 0;
}

/* red border for invalid inputs */
input.invalidInput{
    border-color: red;
}


