#sidebarContainer {
    display: flex;
    flex-direction: column;
}

#sidebarContainer > div.flexRowContainer {
    display: flex;
    flex: 1;
}

nav#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 15px 0px;
    width: 80px;
    background-color: #FFFFFF;
    z-index: 1;
}

nav#sidebar button#openSidebar {
    background-color: #C4C4C4;
    position: absolute;
    right: 0px;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 9px;
    margin: 0px;
    border-radius: 100px;
    border: none;
    opacity: 1;
    transition-property: opacity, background-color;
    transition-duration: 0.3s;
    z-index: 10;
}

nav#sidebar button#openSidebar:hover {
    cursor: pointer;
    background-color: #000000;
}

nav#sidebar ul div {
    display: flex;
}

nav#sidebar ul {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav#sidebar ul li {
    padding: 8px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav#sidebar ul li a {
    padding: 13px;
    border-radius: 6px;
    opacity: 0.7;
    padding-top: 14px !important;
    padding-bottom: 12px !important;
}

nav#sidebar ul li a:hover {
    background-color: #DDE1E4;
    opacity: 1;
}

nav#sidebar > a {
    padding: 13px;
    border-radius: 6px;
    opacity: 0.7;
}

nav#sidebar > a:hover {
    background-color: #DDE1E4;
    opacity: 1;
}

nav#sidebar ul li.activeLink a {
    background-color: #DDE1E4;
    opacity: 1;
}
